body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
}

#mainheader {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    background-color: grey;
}

nav {
    height: 5%;
    width: 100%;
    margin: 0 auto 20px;
}

nav>ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav>ul>li {
    display: flex;
}

nav>ul>li a {
    display: block;
    color: brown;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

nav>ul>li:hover{
    background-color: rgb(88, 21, 21);
}

.mainContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}   

.pageTitle{
    font-size:35px;
    color:brown;
}

h1,h2,h3,h4,h5,h6 
{
    justify-content: center;
}

.main{
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.productGallery{
    display: flex;
    flex-direction: row;
    flex-basis: 90%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.productCard{
    display: flex;
    flex-flow: column wrap;
    margin: .4rem;
    padding: .5rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.About{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.AboutItem{
    display: flex;
    flex-flow: column wrap;
    margin: .4rem;
    padding: .5rem;
}

.box{
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.who{
    display: flex;
    flex-flow: column wrap;
    flex-basis: 50%;
    margin: .4rem;
    padding: .5rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.what{
    display: flex;
    flex-flow: column wrap;
    flex-basis: 50%;
    margin: .4rem;
    padding: .5rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.why{
    display: flex;
    flex-flow: column wrap;
    flex-basis: 50%;
    margin: .4rem;
    padding: .5rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.party{
    display: flex;
    flex-flow: column wrap;
    flex-basis: 50%;
    margin: .4rem;
    padding: .5rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.productCard h5, .productCard p{
    margin: .2rem 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
